<head>
      <meta charset="utf-8">
      <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
      <link rel="stylesheet" type="text/css" href="/styles/header.css">
      <link rel="stylesheet" type="text/css" href="/styles/footer.css">
      <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
      <link rel="stylesheet" type="text/css" href="/styles/blogs.css">
      <link rel="stylesheet" type="text/css" href="/styles/small-disp.css">
      {{ if .IsHome }}
        <title>{{ .Title }}</title>
      {{ else }}
        <title>{{ .Title }} | {{ .Site.Title }}</title>
      {{ end }}
</head>
